 <div class="mb-3">
    <select class="form-select form-select-lg"  [(ngModel)]="selectedCategoryId">
        <option selected value="0">All</option>
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
    </select>
</div> 



<div class="bg-warning my-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency:'EUR':'code' }}</td>
          <td>{{ product.quentity }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
<!-- order.component.html -->
<app-content-section 
[received]="selectedCategoryId" (onProductBought)="onBuyClicked($event)"
 
></app-content-section>


<!-- 
<div class="bg-warning my-5">
  <app-content-section [receivedCatId]="selectedCategoryId" (onTotalPriceChanged)="calcTotalPrice($event)"></app-content-section> 
</div>

<h1>{{recievedTotalPrice}}</h1> 
   -->
